<div class="md-list-item-text flex">
  <h3 class="flex layout-row layout-align-center-center">
    <span>Know more ?</span>
  </h3>
  <p class="flex layout-row layout-align-center-center">
    <a class="md-button" href="https://github.com/janaipakos/ghibliapi/issues/new" target="_blank">Submit an issue</a><br />
    <a class="md-button md-primary" href="https://github.com/janaipakos/ghibliapi/blob/master/CONTRIBUTING.md" target="_blank">Contribute</a>
  </p>
  {{yield}}
</div>