// Define desired color palettes.
$primary: "deep-orange";
$accent: "blue-grey";
$warn: "pink";
@import 'ember-paper';

body > .ember-view{
  @extend .flex, .layout-column;
}
#header, #footer {
  @extend md-toolbar;
}
.md-accent.md-hue-2{
  color: contrastColor($accent, '800');
  background-color: color($accent, '800');
}
.md-accent.md-hue-3{
  color: contrastColor($accent, '900');
  background-color: color($accent, '900');
}
