<header id="header">
  <div class="md-toolbar-tools">
    <h2>
      {{link-to "Check out Ghilbi Studio Films" "application"}}
    </h2>
  </div>
</header>
{{outlet}}
<footer id="footer" class="md-accent">
  <div class="md-toolbar-tools md-accent md-hue-3">
    <small>
      Data shown here comes from <a href="https://ghibliapi.herokuapp.com">ghibliapi.herokuapp.com</a>
    </small>
    <small class="flex"></small>
    <small>
      {{#paper-button href="https://github.com/janaipakos/ghibliapi" target="_blank"}}{{paper-icon "public"}} Contribute{{/paper-button}}
    </small>
  </div>
</footer>